<div>
  <div>
    <h1>
      Movie #<%= @movie.id %> details
    </h1>

    <div>
      <div>
        <%= link_to "Go Back", movies_path %>
       
      </div>

      <div>
        <%= link_to "Edit movie", edit_movie_url(@movie) %>
     
      </div>

      <div>
      <%=link_to "delete", movie_path(@movie), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn=primary" %>
      
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @movie.title %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @movie.description %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@movie.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@movie.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>
